<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>トップページ</title>
</head>

<body>
  <header>
    <div class="header">
      <div class="header-left">
        <a href="/">トップページ</a>
      </div>
      <div class="header-right">
        <a href="/login.html">ログイン</a>
        <a href="/signup.html">新規登録</a>
      </div>
    </div>
  </header>
  <main>
    <div class="container">
      <!-- ログインボタンと新規登録ボタンを設置 -->
      <div class="top">
        <a href="/login.html" class="btn">ログイン</a>
        <a href="/signup.html" class="btn">新規登録</a>
      </div>
    </div>
  </main>
  <script>
    //クライアントサイドのJavaScriptがサーバからCSRFトークンを取得し、それを用いてセキュアなPOSTリクエストを送信する
      fetch('/csrf-token')
        .then(response => response.json())
        .then(data => {
          console.log("サーバーからのCSRF token: ", data.csrfToken);
          const csrf = data.csrfToken;
          fetch('/api/post', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'CSRF-Token': csrf
            },
            body: JSON.stringify({
              content: "content",
              category: "category"
            })
          });
      });
    </script> 
</body>

</html>